<div id="footer">

    <div id="footerLeftSide">
        <a href="#">TOP</a>
        <% if(!currentUser) { %>
        <br>
        <a href="/sessions/new">Login</a>
        <% } %>
    </div>
    
    <div id="footerRightSide">
        Located in 
        
    </div>


</div>