<div id="footer">
    FOOTER
    <a href="#">TOP</a>
    <% if(!currentUser) { %>

    <a href="/sessions/new">Login</a>

    <% } %>
    <!-- COMMENT THE BELOW LINE OF CODE IN TO ADD NEW ADMINS TO SITE -->

    <!-- <a href="/users/new">Sign Up</a> -->


</div>