<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  
    <div class="pageContainer">

      <!-- LANDING PAGE -->

      <div class="container" id="mainImage">
          
        <div id="header">
            <li><a href="#">HOME</a></li>
            <li><a href="#info">SHOP INFO</a></li>
            <li><a href="#barbers">BARBERS</a></li>
            <li><a href="#services">SERVICES</a></li>
                    
            <text id="welcomeUserMessage"><% if(currentUser) { %>
            Welcome, <%=currentUser.username%>!</text>
            <a href="/app/"> GO TO DASHBOARD</a>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout">
            </form>
            <% } %>
        </div>
          
         
      </div>

      <!-- SHOP INFO (HOURS AND LOCATION) -->

      <div class="container" id="shopInfo">

        
        <div class="spacer" id="info">
                <table id="hoursOpen">
                  <th class="hoursHeader">
                    Day
                  </th>
                  <th class="hoursHeader">
                    Hours
                  </th>
                  <tr>
                    <td>Monday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Tuesday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Wednesday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Thursday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Friday</td>
                    <td>8AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Saturday</td>
                    <td>6AM-6PM</td>
                  </tr>
                  <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                  </tr>
                </table>
        </div>

              <div class="spacer" id="location">
                <img id="mapScreenshot" src="images/googleMapsScreenshot.png">
                <p class="addressPhone">3405 SW College Rd #217
                Ocala, FL, 34474</p>
                <span><p class="addressPhone">(352)-207-6952</p>
              </div>   
         
        
      </div>


      <!-- BARBER INFORMATION -->

      <div class="container spacer" id="barbers">
          <div id="barberImageContainer">

          </div>
          
          <div id="barberInformation">

          </div>
      </div>


      <!-- SERVICES OFFERED -->

      <div class="container spacer" id="services">
          <!-- <h3>SERVICES</h3> -->
                  <div class="serviceItem">
                    <p>Appointments Sun-Thurs ONLY</p>
                    <p>45 Minutes $30.00</p>
                  </div>
                  
                  <div class="serviceItem">
                    <p>VIP Friday & Saturdays ONLY</p>
                    <p>45 Minutes $50.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Kids</p>
                    <p>45 Minutes $15.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Eyebrows</p>
                    <p>45 Minutes $5.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Edges</p>
                    <p>45 Minutes $7.00</p>
                  </div>

                  <div class="serviceItem">
                    <p>Hot Towel Shave</p>
                    <p>45 Minutes $10.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Styled Haircut <br>(Other than an even cut)</p>
                    <p>45 Minutes $20.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Even Cuts</p>
                    <p>45 Minutes $15.00</p>
                  </div>
      </div>

      <!-- SHOP IMAGE -->

      <div class="container spacer" id="theShop">
        <!-- CONTAINS IMAGE BACKGROUND -->
      </div>


      <!-- FOOTER -->

      <div id="footer">
          FOOTER
          <a href="#">TOP</a>
         <% if(!currentUser) { %>

          <a href="/sessions/new">Login</a>
        
        <% } %>
              <!-- COMMENT THE BELOW LINE OF CODE IN TO ADD NEW ADMINS TO SITE -->
              
              <!-- <a href="/users/new">Sign Up</a> -->
         
        
      </div>
    </div>
    <script>

      
       

      window.onscroll = function() {myFunction()}

      var header = document.getElementById("header")
      var sticky = header.offsetTop
      
      function myFunction(){
        if(window.pageYOffset > sticky){
          header.classList.add("sticky")
        } else {
          header.classList.remove("sticky")
        }
      }
    </script>
</body>
</html>