<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  
    <div class="pageContainer">

      <!-- LANDING PAGE -->

      <div class="container" id="mainImage">
          
        <div id="header">
          <div class="nonSticky" id="menuItems">
            <li><a class="menuLink" href="#">HOME</a></li>
            <li><a class="menuLink"  href="#info">SHOP INFO</a></li>
            <li><a class="menuLink"  href="#barbers">BARBERS</a></li>
            <li><a class="menuLink"  href="#services">SERVICES</a></li>
          </div>
               
          <div id="authMessage">
            <% if(currentUser) { %>
            <form action="/sessions?_method=DELETE" method="POST">
              <input id="logout" type="submit" value="Logout">
            </form>
            <text id="welcomeUserMessage">
            Welcome, <%=currentUser.username%>!</text>
            <a id="dashboard" href="/app/">DASHBOARD</a>          
            <% } %>
          </div>
        </div>
          
         
      </div>

      <!-- SHOP INFO (HOURS AND LOCATION) -->

      <div class="container" id="shopInfo">

        
        <div class="spacer" id="info">

                <table id="hoursOpen">
                  <h1>HOURS</h1>
            
                  <tr>
                    <td>Monday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Tuesday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Wednesday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Thursday</td>
                    <td>9AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Friday</td>
                    <td>8AM-8PM</td>
                  </tr>
                  <tr>
                    <td>Saturday</td>
                    <td>6AM-6PM</td>
                  </tr>
                  <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                  </tr>
                </table>
        </div>

              <div class="spacer" id="location">
                <img id="mapScreenshot" src="images/googleMapsScreenshot.png">
                <p class="addressPhone">3405 SW College Rd #217
                Ocala, FL, 34474</p>
                <span><p class="addressPhone">(352)-207-6952</p>
              </div>   
         
        
      </div>


      <!-- BARBER INFORMATION -->

      <div class="container spacer" id="barbers">
          <!-- <div class="spacer"> -->
              <div id="barberImageContainer">
                  <img id="barberImage" src="#">
              </div>
              
              <div id="barberInformation">
  
                  <p>Name:</p> <span class="barberInfo" id="name"> </span>
                  <p>Hometown:</p><span  class="barberInfo" id="hometown"> </span>
                  Favorite Cut:<p  class="barberInfo" id="favCut"> </p>
                  Why I started cutting hair:<p class="barberInfo"  id="whyYouCutHair"> </p>                  
                  
              </div>
          <!-- </div> -->
      </div>


      <!-- SERVICES OFFERED -->

      <div class="container spacer" id="services">
       
          <!-- <h3>SERVICES</h3> -->
                  <div class="serviceItem">
                    <p>Appointments Sun-Thurs ONLY</p>
                    <img src="#" class="serviceImage">
                    <p>45 Minutes $30.00</p>
                  </div>
                  
                  <div class="serviceItem">
                    <p>VIP Friday & Saturdays ONLY</p>
                    <img src="/images/VIP.jpg" class="serviceImage">
                    <p>45 Minutes $50.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Kids</p>
                    <img src="/images/croppedKidsCut.jpg" class="serviceImage">
                    <p>45 Minutes $15.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Eyebrows</p>
                    <img src="/images/eyebrows.jpg" class="serviceImage">
                    <p>45 Minutes $5.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Edges</p>
                    <img src="/images/edging.jpg" class="serviceImage">
                    <p>45 Minutes $7.00</p>
                  </div>

                  <div class="serviceItem">
                    <p>Hot Towel Shave</p>
                    <img src="/images/hotTowelShave.jpg" class="serviceImage">
                    <p>45 Minutes $10.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Styled Haircut <br>(Other than an even cut)</p>
                    <img src="#" class="serviceImage">
                    <p>45 Minutes $20.00</p>
                  </div>
          
                  <div class="serviceItem">
                    <p>Even Cuts</p>
                    <img src="/images/evenCut.jpg" class="serviceImage">
                    <p>45 Minutes $15.00</p>
                  </div>
    
      
      </div>

      <!-- SHOP IMAGE -->

      <div class="container spacer" id="theShop">
        <!-- CONTAINS IMAGE BACKGROUND -->
      </div>


      <!-- FOOTER -->

      <% include ./partials/footer.ejs %>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>
</html>