<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  
    <div class="pageContainer">
      <div class="container" id="mainImage">
          <!-- <li><a href="#services">HOURS</a></li>
          <li><a href="#barbers">SERVICES</a></li>
          <li><a href="#schedule">Schedule Appointment</a></li> -->
        <div id="header">
            <text id="welcomeUserMessage"><% if(currentUser) { %>
            Welcome, <%=currentUser.username%>!</text>
            <a href="/app/">Go to your dashboard</a>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout">
            </form>
            <% } else { %>
            
            <!-- <a href="/users/new">Sign Up</a> -->
            <a id="login" href="/sessions/new">Log In</a>
            <% } %>
        </div>
          
         
      </div>
    
      <div class="container" id="services">

        <table id="hours">
          <th class="hoursHeader">
            Day
          </th>
          <th class="hoursHeader">
            Hours
          </th>
          <tr>
            <td>Monday</td>
            <td>9AM-8PM</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>9AM-8PM</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>9AM-8PM</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>9AM-8PM</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>8AM-8PM</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>6AM-6PM</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Closed</td>
          </tr>
        </table>
          <!-- <h3>SERVICES</h3>
          <p>Appointments Sun-Thurs ONLY</p>
          <text>45 Minutes $30.00</text>

          <p>VIP Friday & Saturdays ONLY</p>
          <text>45 Minutes $50.00</text>

          <p>Kids</p>
          <text>45 Minutes $15.00</text>

          <p>Eyebrows</p>
          <text>45 Minutes $5.00</text>

          <p>Edges</p>
          <text>45 Minutes $7.00</text>

          <p>Hot Towel Shave</p>
          <text>45 Minutes $10.00</text>

          <p>Styled Haircut (Other than an even cut)</p>
          <text>45 Minutes $20.00</text>

          <p>Even Cuts</p>
          <text>45 Minutes $15.00</text> -->
      </div>

      <div class="container" id="barbers">
          <p>BARBERS</p>
      </div>

      <div class="container" id="theShop">
      </div>

      <div id="footer">
          FOOTER
      </div>
    </div>
    <script>

      window.onscroll = function() {myFunction()}

      var header = document.getElementById("header")
      var sticky = header.offsetTop
      
      function myFunction(){
        if(window.pageYOffset > sticky){
          header.classList.add("sticky")
        } else {
          header.classList.remove("sticky")
        }
      }
    </script>
</body>
</html>