/* html{
    font-family: 
} */
body{
    margin: 0;
    background-color: #cccccc;
}

/* body::-webkit-scrollbar{
    width: 0;
} */

#dashboardContainer{
    display: flex;
    flex-direction: row;
}

#leftSide{
    width: 375px;
    min-width: 375px;
    min-height: 100vh;
    border-right: 3px solid black;
    text-align: center;
    position: fixed;  
    z-index: 99; 
    background-color: #b2b2b2; 
    /* color: white; */
}

#profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

#logout{
    margin: 15px;
}

#rightSide{
    width: 100%;
    min-width: 375px;
    margin-left: 375px;
    align-self: flex-start;
}

#customers{
    width: 95%;
    height: 60vh;
    border: 1px solid black;
    margin: 10px auto;
    overflow-y: scroll;
    border-radius: 6px;
}

#topLevelContainer{
    width: 98%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #e5e5e5;
    box-shadow: 10px 10px grey;
}
#customerInfo{
    min-width: 300px;
}
#customerNotesContainer{
    min-width: 300px;
    /* border: 1px solid purple; */
}

#customerNotes{
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 20px;
    /* max-width: 300px;
    min-height: 300px; */
}

#priceInfo{
    width: 98%;
    height: 250px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #e5e5e5;
    border: 1px solid black;
    box-shadow: 10px 10px grey;
}

#barbers{
    width: 98%;
    height: 100%;
    border-radius: 20px;
    background-color: #e5e5e5;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
    box-shadow: 10px 10px grey;
}

.customerName{
    list-style: none;
    margin: 15px auto;
    letter-spacing: 1px;
    text-align: left;
    padding: 2px;
}

.barberName{
    align-self: center;
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 4px;
}

.info{
    padding-left: 14px;
}

a{
    text-decoration: none;
}

.title{
    text-align: center;
}