html{

}
body{
    margin: 0;
}

#dashboardContainer{
    display: flex;
    flex-direction: row;
}

#leftSide{
    width: 300px;
    min-width: 300px;
    min-height: 100vh;
    border-right: 3px solid black;
    text-align: center;
    position: fixed;  
    z-index: 99; 
    /* background-color: black;  */
    /* color: white; */
}

#profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#logout{
    margin: 15px;
}

#rightSide{
    min-width: 300px;
    margin-left: 300px;
    /* border: 1px solid blue; */
    align-self: flex-start;
}

#customers{
    width: 95%;
    height: 60vh;
    border: 1px solid black;
    margin: 10px auto;
    overflow-y: scroll;
}

#topLevelContainer{
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
#customerInfo{
    min-width: 300px;
}
#customerNotesContainer{
    min-width: 300px;
    border: 1px solid purple;
}

#customerNotes{
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 20px;
    /* max-width: 300px;
    min-height: 300px; */
}

#priceInfo{
    width: 100%;
    height: 250px;
    margin: 20px auto;
    border: 1px solid purple;
}

#barbers{
    width: 100%;
    height: 100%;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.customerName{
    list-style: none;
    margin: 15px auto;
    letter-spacing: 1px;
    text-align: left;
    padding: 2px;
}

.barberName{
    align-self: center;
    list-style: none;
    width: 100px;
    height: 100px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 4px;
}

.info{
    padding-left: 14px;
}

a{
    text-decoration: none;
}