html{
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
}

#header{
    /* border: 1px solid gold; */
    width: 100%;
    /* z-index: 99; */
}

.sticky{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 50px;
}

#mainImage{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100vw;
    height: 100vh;
    background: url("../images/incredibleCutzDesktopLandingPageImageShoppedBottom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

body{
    margin: 0;
}

#services{
    text-align: center;
    background-image: url('../images/servicesBackgroundImage1.jpg');
    background-repeat: no-repeat;
    background-position: center;

}

#theShop{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url("../images/theShop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#hours{
    margin: 0 auto;
    align-self: center;
    margin-top: 230px;
    color: white;
    font-size: 30px;
}

.hoursHeader{
    width: 200px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    align-self: flex-start;
    margin-right: 20px;
    /* align-items: flex-end; */
}


