html{
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
    font-family: 'Calistoga', cursive;
    
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/scissors.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/scissors.gif"), auto;


}

.menuLink{
    color: white;
    justify-content: flex-start;
    border: 1px solid black;
    background-color: black;
    padding: 4px;
    font-size: 20px;
    border-radius: 2px;
}

#menuItems{
    margin-top: 25px;
    margin-left: 15px;
}

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
}

#authMessage{
    margin-top: 20px;
}

#logout{
    margin-bottom: 5px;
}

.sticky{
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 75px;
    display: flex;
    justify-content: flex-end;
}

#mainImage{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100vw;
    height: 100vh;
    background: url("../images/incredibleCutzDesktopLandingPageImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.addressPhone{
    text-align: center;
    font-size: 20px;
}

#coloursPlaza{
    text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

body{
    margin: 0;
}

.serviceItem{
    margin: 15px;
    width: 250px;
    height: 250px;
    /* border: 1px solid black; */
}

#services{
    margin: 20px auto;
    text-align: center;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ACCOMADATES THE SPACE OF THE STICKY HEADER */
.spacer{
    padding-top: 150px;
}

#theShop{
    width: 100vw;
    height: 100vh;
    background: url("../images/theShop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-evenly;
}

#shopInfo{
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px auto;
}

#hoursOpen{
    color: black;
    font-size: 30px;
}

.hoursHeader{
    width: 200px;
}

li{
    list-style: none;
    display: inline;
}

a{
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 15px;
    align-self: flex-start;
    margin-right: 20px;
}

#barbers{
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#barberImageContainer{
    width: 400px;
    height: 400px;
    border: 1px solid gold;
}

#barberInformation{
    width: 400px;
    height: 400px;
    margin-top: 30px;
    flex-direction: column;
}

.barberInfo{
    margin-left: 20px;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 2px; 
    color: #323232;
}

.serviceImage{
    width: 100%;
    height: 60%;
}

.sticky a{
    color: #3E8634;
}

#footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    color: #7fff00;
}

#facebook{
    width: 25px;
    height: 25px;
}

#instagram{
    width: 25px;
    height: 25px;
}

#footer a{
    color: #7fff00;
    margin-left: 5px;
}

#dashboard{
    color: white;
}

#dashboard:hover{
    color: green;
}

text{
    font-size: 25px;
    letter-spacing: 1px;
}

#whyYouCutHair{
    margin-top: 20px;
}

/* THIS IS DIFFERENT THAN THE ONE BELOW */
#barberHours{
    font-size: 20px;
    border: 2px solid #4ca64c;
    height: 100%;
    border-radius: 4px;
    width: 280px;
}

/* THIS IS DIFFERENT THAN THE ONE ABOVE */
#barbersHours{
    
    padding: 4px; 
}

h3{
    text-align: center;
    text-decoration: underline;
}

td{
    padding: 10px;
}

hr{
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: black;
}

.hours{
    padding-left: 20px;
}