html{
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
}

#menuItems{
    margin-top: 25px;
    margin-left: 15px;
}

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sticky{
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 75px;
    display: flex;
    justify-content: flex-end;
}

#mainImage{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100vw;
    height: 100vh;
    background: url("../images/incredibleCutzDesktopLandingPageImageShoppedBottom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.addressPhone{
    text-align: center;
    font-size: 20px;
}

#coloursPlaza{
    text-align: center;
}

.container{
    /* padding-top: 200px;
    margin-top: -100px; */
    width: 100vw;
    height: 100vh;
    display: flex;
}

body{
    margin: 0;
}

.serviceItem{
    margin: 15px;
}

#services{
    margin: 0 auto;
    text-align: center;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ACCOMADATES THE SPACE OF THE STICKY HEADER */
.spacer{
    padding-top: 150px;
}

#theShop{
    width: 100vw;
    height: 100vh;
    background: url("../images/theShop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-evenly;
    /* margin: 15px; */
}

#shopInfo{
    /* padding-top: 200px; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px auto;
}

#hoursOpen{
    color: black;
    font-size: 30px;
}

.hoursHeader{
    width: 200px;
}

li{
    list-style: none;
    display: inline;
}

a{
    letter-spacing: 4px;
    /* color: black; */
    text-decoration: none;
    font-size: 15px;
    align-self: flex-start;
    margin-right: 20px;
    /* align-items: flex-end; */
}

#barbers{
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#barberImageContainer{
    width: 35%;
    height: 400px;
    border: 1px solid gold;
}

#barberInformation{
    width: 42%;
    height: 550px;
    border: 1px solid black;
}

.sticky a{
    color: #3E8634;
}

#footer{
    height: 100px;
}

/* @media screen and (max-width: 414px){
    #mainImage{
        background-image: url('../images/incredibleCutzMobileLandingPageImage.jpg');
       
    }
} */
