#largerScreenInfo{
    display: block;
}

form{
    margin: 40px auto;
    width: 350px;
}

legend{
    font-size: 24px;
}
   
fieldset{
    width: 100px;
    border-radius: 6px;
}
label{
    /* border: 1px solid gold; */
    font-weight: 700;
    letter-spacing: 4px;
    background-color: black;
    /* opacity: .5; */
}
input{
    margin: 10px;
    text-align: center;
    font-size: 15x;
    border-radius: 6px;
}

#submit{
    font-size: 20px;
    width: 25%;
    height: 50px;
    margin: 0 auto;
    background-color: #76F032;
}
body{
    color: white;
    text-align: center;
    background-image: url('/images/addNewCustomerImage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
   



