html{
    font-family: "Calistoga", cursive;
    letter-spacing: 2px;
}

body{
    background-color: black;
    color: white;
}

#formContainer{
    height: 680px;
    width: 800px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}

label{
    font-size: 24px;
}

#leftSideLogin{
    height: 100%;
    width: 65%;
    background-image: url('../images/login.jpg');
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#rightSideLogin{
    width: 35%;
    height: 100%;
    margin: 50px;
}

h1{
    text-align: center;
    font-size: 54px;
}

form input{
    font-size: 24px;
    border-radius: 5px;
    margin: 20px; 
}

#cancel{
    text-decoration: none;
    color: red;
    font-size: 24px;
}

#login{
    background-color: black;
    color: #7fff00;
    width: 120px;
    padding: 2px; 
}