<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../../partials/head.ejs %>
</head>
<body>
    <div class="container">
        <h1>Create User</h1>
        <form method="POST" action="/users">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName">

            <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="Username" required>

            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password" required>
            
            <!-- THIS WAS A BUTTON IN THE WALK THROUGH -->
            <input type="submit" value="Create User">
        </form>
    </div>
</body>
</html>