<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../../partials/head.ejs %>
   <link href="/css/newBarber.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="pageContainer">
       
        <div id="formContainer"></div>
            <div id="leftSide">
                <img id="leftSideImage" src="/images/addNewCustomerImage.jpg">
            </div>

        
            <div id="rightSide">
                <h1>Create New Barber</h1>
                <form method="POST" action="/users">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName">

                    <br>

                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName">

                    <br>

                    <label for="hometown">Hometown</label>
                    <input type="text" id="hometown" name="hometown">

                    <br>

                    <label for="favCut">Favorite Cut</label>
                    <input type="text" id="favCut" name="favCut">

                    <br>

                    <label for="whatMadeYouCutHair">What made you start cutting hair</label><br>
                    <textarea 
                        id="whatMadeYouCutHair" name="whatMadeYouCutHair"></textarea>

                    <br>

                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" placeholder="Username" required>

                    <br>

                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" placeholder="Password" required>

                    <br>

                    <input type="submit" value="Create User">

                    <br> 


                    <a id="back" href="/app/">Back to dashboard</a>
                    
                </form>
            </div>
        </div>


    </div>
</body>
</html>