<!DOCTYPE html>
<html lang="en">
    <head>
       <% include ../partials/head.ejs %>
    </head>
    <body>
        <h1>Welcome <%= currentUser.username %> to your Dashboard</h1>
        <input type="file">
        <a href="/app/user/new">Create new Barber</a> <br>
        <a href="/">Back to site</a>
    </body>
</html>